@import url('https://fonts.googleapis.com/css2?family=PT+Serif:wght@400;700&family=Poppins:wght@400;900&display=swap');
* {
    padding: 0;
    margin: 0;
}

body{
    background-color: white;
    padding: 20px 150px;
    width: 15cm;
    border-radius: 10px;
    font-family: PT serif;
    text-align:center;
    

}

td {
    padding: 5px;
    margin: 5px;
    font-size: 20px;
    font-weight: bold;
    text-align: justify;
}

h1 {
    font-size: 40px;
    font-style: normal;
    text-align: justify;
}

input {
    padding: 5px;
    margin: 5px;
    font-size: 20px;
}

input#submit {
    color: white;
    background-color: blue;
    padding: 5px;
    font-weight: bold;
    margin-top: 10px;
    margin-left: 108%;
    width: 6cm ;
    border: none;
    cursor: pointer;

}

select {
    padding: 5px;
    margin-top: 10px;
    margin-left: 5px;
    width: 7cm;
    height: 1cm;
 }